.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-column: 2 / 3;
    background-color: gray;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: red;
}

.main {
    background-color: bisque;
}

.nav {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px repeat(9,minmax(30px, 7%));
    height: 100vh;
    padding: 10px 0px 0px 0px;
}

.nav a {
    padding-left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.dashboard {
    font-size: 32px;
    padding-left: 20px;
}

.dashboardIcon {
    justify-self: end;
    font-size: 32px;
} 

.linkIcon {
    justify-self: end;
    font-size: 24px;
}

.header {
    display: grid;
    grid-template: 1fr 2fr / 1fr;
}

#searchAndProfile {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    align-items: center;
}

#search {
    justify-self: s;
}

#profile {
    display: grid;
    grid-template: 1fr / 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
    height: 100%;
}